{% extends 'base.html' %}

{% block title %} Home {% endblock title %}
{% block content %}
    <h1>Gameclip</h1>
    <div class="account_buttons" style="background-color: lightblue">
        {% if request.user.is_authenticated %}
            <p>Welcome {{ request.user }}</p> <br>
                <a href="{% url 'logout' %}">Logout | </a>
                <a href="{% url 'dashboard' %}">Dashboard | </a>
                <a href="{% url 'upload_video' %}">Upload | </a>
            {% else %}
                <h2>Join!</h2>
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'signup' %}">Signup</a>
        {% endif %}
    </div>
    {% for video in videos %}
        {% if video.unlisted == False %}
        <div class="video" style="border-style: solid; background-color: yellowgreen;">
            <h2>{{ video.title }}</h2>
            <p>Creator: {{ video.creator }}</p>
            <video
            id="my-video"
            class="video-js"
            controls
            preload="auto"
            width="640"
            height="400"
            data-setup="{}">
                
                <source src="{{ video.video_file.url }}" type="video/mp4">
            </video>
            <p>{{ video.url }}</p>
            <p>Description: {{ video.description }}</p>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}