{% extends 'base.html' %}

{% block content %}
    <h1>Upload your video</h1> 
    <form action="{% url 'upload_video' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="video_file" accept="video/*" /> <br> <br>

        <label>
            <input type="text" name="title" placeholder="Title">
        </label> <br> <br>

        <label for="description">Description of your clip:</label> <br> <br>
        <textarea id="description" name="description" placeholder="Description" rows="5" cols="33"></textarea> <br> </br>

        <label>
            <input type="checkbox" name="unlisted" value="True"/>
        </label> Unlisted <br> <br>
        
        <input type="submit" value="Upload" />

    </form>


{% endblock content %}